/* Dropdown Button */
.outfit {
    
    /*background-color: #4CAF50; /* Green */
    border: solid;
    color: black;
    padding: 15px 35px;
    display: inline-block;
    font-size: 16px;
    margin-left: 45%;
    margin-top:42%;
    cursor: pointer;*/*/*/
    background: purple;

}