h1 {
	text-align: bottom center;
    background-color: purple;
    font-family: "Actonia";
    height: 170px;
}

img {
	width: 30%;
	height:400px;
	display:block;
	margin: auto;
	
}

.picture {
	width: 25%;
	height: 400px;
	margin: 50;
}

.pictures {
	width: 25%;
	height: 400px;

}

