
h1{
	color: black;
	font-size: 50px;
	text-align: center;	
	}

.slideshow{
	margin-left: 32%;
	padding-bottom: 60px;
	padding-top: 40px;
}

.mySlides{
	display:none;
}

.dropdown{
	margin-left: 32%;
	padding-top: 40px;
}


